{
    "presets": [
        "react-app",
        ["@babel/env", { "loose": true, "targets": { "browsers": ["> 0.2%, not dead, not op_mini all, last 4 Edge versions"] } }],
        "@babel/typescript"
    ],
    "plugins": ["transform-inline-environment-variables"]
}
